* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: #111827;
}

.container {
    width: 100%;
}
 
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
    position: relative;
}

/* ----------------- Header ----------------- */
.header {
    display: grid;
    background: url(../img/Background.png) no-repeat center center/cover;
}

nav {
    display: grid;
    grid-template-columns: 128px 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    gap: 32px;
}

.logo-link {
    display: contents;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

ul>li>a {
    text-decoration: none;
    color: #111827;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
}

ul>li>a:hover {
    color: #8c30f5;
    text-decoration: underline;
}

.header-buttons {
    display: flex;
    gap: 16px;
    justify-self: right;
}

.header-buttons>a {
    display: contents;
}

.header-hamburger-menu {
    width: 40px;
    height: 40px;
    display: none;
    padding: 8px;
    cursor: pointer;
    align-items: center;
}

.header-hamburger-menu>span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #111827;
    border-radius: 2px;
}

/* ----------------- Banner ----------------- */
.banner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 80px 0;
    gap: 32px;
    justify-items: center;
}

.banner-content {
    padding-top: 96px;
}

.banner-content>h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.025em;
}

.banner-content>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #807f81;
    margin-top: 16px;
}

.banner-buttons {
    padding-top: 32px;
    display: flex;
    gap: 16px;
}

.btn {
    display: inline-block;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
}

.btn-primary {
    background-color: #8c30f5;
    color: #fff;
}

.btn-secondary {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    color: #8c30f5;
}

.banner-image {
    width: 100%;
    max-width: 320px;
    max-height: 640px;
    position: relative;
    display: grid;
    justify-content: center;
}

.banner-image>img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: 5;
}

.banner-image-background {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 95%;
    height: 98%;
    border-radius: 60px;
    z-index: 1;
    clip-path: polygon(8% 0, 92% 0, 100% 5%, 100% 96%, 92% 100%, 8% 100%, 0 95%, 0 5%);
    background: url(../img/mobile_example_02.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -40px;
    animation-name: myAnimation;
    animation-duration: 12s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
    0% {
        background-position-y: -40px;
    }
    4% {
        background-position-y: -40px;
    }
    5% {
        background-position-y: -15px;
    }
    7% {
        background-position-y: 5px;
    }
    8% {
        background-position-y: -45px;
    }
    12% {
        background-position-y: -90px;
    }
    20% {
        background-position-y: -830px;
    }
    25% {
        background-position-y: -860px;
    }
    25% {
        background-position-y: -860px;
    }
    50% {
        background-position-y: -1620px;
    }
    55% {
        background-position-y: -1660px;
    }
    70% {
        background-position-y: -3235px;
    }
    75% {
        background-position-y: -3735px;
    }
    100% {
        background-position-y: -40px;
    }
}

/* ----------------- Brands ----------------- */
.brands {
    padding: 41px 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 32px;
    justify-content: center;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
}

/* ----------------- features ----------------- */
.features {
    text-align: center;
    max-width: 800px;
    margin: 112px auto 0 auto;
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

p {
	margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 64px;
    margin-top: 64px;
    margin-bottom: 96px;
}

.feature-item {
    display: grid;
    justify-items: center;
    text-align: center;
    max-width: 384px;
}

.feature-item>h3 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.feature-item>p {
    font-size: 16px;
    line-height: 24px;
    color: #374151;
}

/* ----------------- comments V#1 ----------------- */
.comments {
    background-color: #D5FAFC;
}

.comments-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 884px;
    margin: 0 auto;
    max-width: 1008px;
    gap: 32px;
    padding-top: 118px;
}

.comment-item {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 36px;
    box-shadow: 0px 2px 4px #11182733;
}

.comment-item:nth-child(1) {
    width: 488px;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    order: 1;
    margin-bottom: 64px;
}

.comment-item:nth-child(2) {
    width: 488px;
    margin-top: 74px;
    order: 3;
}

.comment-item:nth-child(3) {
    width: 384px;
    align-self: end;
    order: 2;
}

.comment-item:nth-child(4) {
    width: 384px;
    order: 4;
}

.comment-item>img:first-child {
    width: 112px;
    height: 32px;
    margin-bottom: 32px;
}

.comment-item>div {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.comment-item>div>div>p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;
}

.comment-item>div>div>p:first-child {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #111827;
}

/* ----------------- comments V#2 ----------------- */
.comments_v2 {
    background-color: #e6d5fc;
}

.quote-mark {
    position: absolute;
    top: 64px;
}

.comments-list_v2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    margin: 0 auto;
    max-width: 1008px;
    gap: 32px;
    padding-top: 118px;
    padding-bottom: 96px;
}

.comment-item_v2 {
    display: grid;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 36px;
    box-shadow: 0px 2px 4px #11182733;
    align-self: self-start;
}

.comment-item_v2:nth-child(1) {
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.comment-item_v2:nth-child(2) {
    max-width: 488px;
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

.comment-item_v2:nth-child(3) {
    max-width: 384px;
    justify-self: end;
    grid-column: 1 / 2;
    grid-row: 3 / 9;
    margin-top: 48px;
}

.comment-item_v2:nth-child(4) {
    max-width: 384px;
    grid-column: 2 / 3;
    grid-row: 6 / 10;
}

.comment-item_v2>img:first-child {
    width: 112px;
    height: 32px;
    margin-bottom: 32px;
}

.comment-item_v2>div {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.comment-item_v2>div>div>p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;
}

.comment-item_v2>div>div>p:first-child {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #111827;
}

/* ----------------- Achievements ----------------- */
.achievements, .tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
}

.achievements-text, .mobile-text {
    text-align: left;
    align-content: center;
}

.achievements-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 40px;
}

.achievement-item {
    display: flex;
    gap: 16px;
}

.achievement-item>img {
    width: 32px;
    height: 32px;
}

/* ----------------- tools ----------------- */
.tools-img {
    max-width: 697px;
    max-height: 270px;
    width: 100%;
}

/* ----------------- mobile ----------------- */
.mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mobile-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    height: 558px;
}

.mobile-images>img {
    width: 100%;
    max-width: 280px;
}

.mobile-images>img:first-child {
    align-self: start;
}

.mobile-images>img:last-child {
    align-self: end;
}

.mobile-section {
    background-color: #1DB5BE;
}

.mobile-buttons {
    margin-top: 48px;
}

.mobile-buttons a {
    display: inline-block;
    margin-right: 12px;
}

/* ----------------- footer ----------------- */
.footer {
    background-color: black;
    padding-top: 64px;
    padding-bottom: 64px;
    color: #fff;
}

.footer-socials {
    display: grid;
    gap: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    margin-top: 24px;
    display: flex;
    text-decoration: none;
    gap: 16px;

}

.footer-links>li>a {
    color: #fff;
}

.copy {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
}

/* ----------------- TABLET ----------------- */
@media (max-width: 1000px) {
    nav {
        grid-template-columns: 128px 1fr;
    }

    nav>ul {
        display: none;
    }

    .header-hamburger-menu {
        display: grid;
    }

    .banner {
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .banner-content>h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .banner-content {
        padding-top: 0px;
    }

    .features-list {
        grid-template-columns: 1fr 1fr;
    }

    .comments-list_v2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .comment-item_v2:nth-child(1) {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .comment-item_v2:nth-child(2) {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .comment-item_v2:nth-child(3) {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-top: 0px;
    }
    
    .comment-item_v2:nth-child(4) {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .achievements {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .mobile {
        grid-template-columns: 1fr;
        gap: 48px;
        padding-top: 80px;
    }

    .mobile-images {
        justify-items: center;
    }

}

/* ----------------- MOBILE ----------------- */
@media (max-width: 700px) {

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .header-buttons>a {
        display: none;
    }

    .banner-content>h1 {
        font-size: 36px;
        line-height: 45px;
    }

    .features-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .achievements-block {
        grid-template-columns: 1fr;
    }

    .tools {
        grid-template-columns: 1fr;
        gap: 36px;
        padding-top: 29px;
    }

    .mobile-images {
        grid-template-columns: 1fr;
        height: auto;
    }

    .footer-content {
        display: grid;
        gap: 32px;
    }

    .footer-links {
        flex-wrap: wrap;
    }
}